In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NCAA.csv')

In [3]:
df.head()

,team1_id,team1_score,team2_id,team2_score,team1_seed,team2_seed,team1_dis(km),team2_dis(km),team1_pt_school_ncaa,team1_pt_overall_ncaa,...,team2_stlrate,team2_oppstlrate,team1_adjtempo,team1_adjoe,team1_adjde,team2_adjtempo,team2_adjoe,team2_adjde,game_id,season
0,1373,81,1108,77,16,16,932.116689,1076.682624,0,0,...,0.1080,0.1049,67.7359,98.6102,99.6885,73.8504,99.8665,106.4500,2002-1373-1108,2002
1,1104,86,1194,78,2,15,969.775258,1058.567916,0,2,...,0.1282,0.1076,69.9001,111.4954,93.8770,71.2446,96.8669,99.9263,2002-1104-1194,2002
2,1112,86,1364,81,3,14,513.529264,1210.852647,17,22,...,0.0868,0.0778,72.8207,117.3877,96.9262,64.7948,105.4534,97.6704,2002-1112-1364,2002
3,1181,84,1457,37,1,16,148.384590,339.990955,17,17,...,0.1108,0.0987,75.1685,118.5999,87.7504,67.4639,95.3632,99.9754,2002-1181-1457,2002
4,1231,75,1428,56,5,12,3007.304604,859.001991,1,1,...,0.0922,0.0927,66.5739,109.6136,89.9224,63.3547,108.6231,95.6459,2002-1231-1428,2002

In [4]:
l1 = df.columns.values.tolist()
l1

['team1_id',
 'team1_score',
 'team2_id',
 'team2_score',
 'team1_seed',
 'team2_seed',
 'team1_dis(km)',
 'team2_dis(km)',
 'team1_pt_school_ncaa',
 'team1_pt_overall_ncaa',
 'team1_pt_school_s16',
 'team1_pt_overall_s16',
 'team1_pt_school_ff',
 'team1_pt_overall_ff',
 'team1_pt_career_school_wins',
 'team1_pt_career_school_losses',
 'team1_pt_career_overall_wins',
 'team1_pt_career_overall_losses',
 'team1_pt_team_season_wins',
 'team1_pt_team_season_losses',
 'team1_pt_coach_season_wins',
 'team1_pt_coach_season_losses',
 'team2_pt_school_ncaa',
 'team2_pt_overall_ncaa',
 'team2_pt_school_s16',
 'team2_pt_overall_s16',
 'team2_pt_school_ff',
 'team2_pt_overall_ff',
 'team2_pt_career_school_wins',
 'team2_pt_career_school_losses',
 'team2_pt_career_overall_wins',
 'team2_pt_career_overall_losses',
 'team2_pt_team_season_wins',
 'team2_pt_team_season_losses',
 'team2_pt_coach_season_wins',
 'team2_pt_coach_season_losses',
 'team1_fg2pct',
 'team1_fg3pct',
 'team1_ftpct',
 'team1_blockpct',
 'team1_oppfg2pct',
 'team1_oppfg3pct',
 'team1_oppftpct',
 'team1_oppblockpct',
 'team1_f3grate',
 'team1_oppf3grate',
 'team1_arate',
 'team1_opparate',
 'team1_stlrate',
 'team1_oppstlrate',
 'team2_fg2pct',
 'team2_fg3pct',
 'team2_ftpct',
 'team2_blockpct',
 'team2_oppfg2pct',
 'team2_oppfg3pct',
 'team2_oppftpct',
 'team2_oppblockpct',
 'team2_f3grate',
 'team2_oppf3grate',
 'team2_arate',
 'team2_opparate',
 'team2_stlrate',
 'team2_oppstlrate',
 'team1_adjtempo',
 'team1_adjoe',
 'team1_adjde',
 'team2_adjtempo',
 'team2_adjoe',
 'team2_adjde',
 'game_id',
 'season']

In [5]:
s1 = ','.join(l1)
s1

'team1_id,team1_score,team2_id,team2_score,team1_seed,team2_seed,team1_dis(km),team2_dis(km),team1_pt_school_ncaa,team1_pt_overall_ncaa,team1_pt_school_s16,team1_pt_overall_s16,team1_pt_school_ff,team1_pt_overall_ff,team1_pt_career_school_wins,team1_pt_career_school_losses,team1_pt_career_overall_wins,team1_pt_career_overall_losses,team1_pt_team_season_wins,team1_pt_team_season_losses,team1_pt_coach_season_wins,team1_pt_coach_season_losses,team2_pt_school_ncaa,team2_pt_overall_ncaa,team2_pt_school_s16,team2_pt_overall_s16,team2_pt_school_ff,team2_pt_overall_ff,team2_pt_career_school_wins,team2_pt_career_school_losses,team2_pt_career_overall_wins,team2_pt_career_overall_losses,team2_pt_team_season_wins,team2_pt_team_season_losses,team2_pt_coach_season_wins,team2_pt_coach_season_losses,team1_fg2pct,team1_fg3pct,team1_ftpct,team1_blockpct,team1_oppfg2pct,team1_oppfg3pct,team1_oppftpct,team1_oppblockpct,team1_f3grate,team1_oppf3grate,team1_arate,team1_opparate,team1_stlrate,team1_oppstlrate,team2_fg2pct,team2_fg3pct,team2_ftpct,team2_blockpct,team2_oppfg2pct,team2_oppfg3pct,team2_oppftpct,team2_oppblockpct,team2_f3grate,team2_oppf3grate,team2_arate,team2_opparate,team2_stlrate,team2_oppstlrate,team1_adjtempo,team1_adjoe,team1_adjde,team2_adjtempo,team2_adjoe,team2_adjde,game_id,season'

In [6]:
import random
fileName = r'C:\Users\AndyZ\OneDrive\Desktop\March Madness\NCAA.csv'
newfile = r'C:\Users\AndyZ\OneDrive\Desktop\March Madness\shuffle.csv'
with open(fileName, 'r', encoding = 'utf-8') as f1, open(newfile,'w', encoding = 'utf-8') as f2:
    f2.write(s1+'\n')
    line = f1.readline().replace('\n','')
    lineList = line.split(',')
    team1 = []
    team2 = []
    for name in lineList:
        if name.startswith('team1'):
            i1 = lineList.index(name)
            team1.append(i1)
        if name.startswith('team2'):
            i2 = lineList.index(name)
            team2.append(i2)

    line = f1.readline().replace('\n','')
    while line != '':
        randomInt = random.randint(0,1)
        if randomInt == 1:
            f2.write(line+'\n')           
        if randomInt == 0:
            l1 = line.split(',')
            length = len(l1)
            for data in range(0,length):
                dataIndex = data
                if dataIndex in team1:
                    team1DataIndex = dataIndex
                    team2DataIndex = team2[team1.index(dataIndex)]
                    l1[team1DataIndex],l1[team2DataIndex] = l1[team2DataIndex],l1[team1DataIndex]
                else:
                    pass
            newstr = ','.join(l1)
            f2.write(newstr+'\n')
        line = f1.readline().replace('\n','')